@import '../../styles/variables';

.button {
    background-color: transparent;
    cursor: pointer;
    padding: 15px 50px;
    border: 2px solid $accent;
    border-radius: 30px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.065em;
    color: #FFFFFF;
    transition: all .2s ease;
    &:not(.buttonSmall) {
        @media screen and (max-width: 768px) {
            font-size: 16px;
            padding: 12px 40px;
        }
    }
    &:disabled {
        cursor: auto;
        background-color: $disabled;
        border-color: $disabled;
    }
    &:hover:not(:disabled) {
        background-color: $accent;
        border-color: $accent;
    }
    &Fill {
        background-color: $accent;
        &:hover:not(:disabled){
            background-color: darken($accent, 10);
            border-color: darken($accent, 10);
        }
    }
    &Danger {
        background-color: $red;
        border-color: $red;
        &:hover:not(:disabled){
            background-color: darken($red, 5);
            border-color: darken($red, 5);
        }
    }
    &Small{
        font-size: 12px;
        padding: 5px 30px;
        border-radius: 5px;
        line-height: 15px;
        letter-spacing: 0.065em;
    }
}