.sectionHeader {
    text-align: center;
    max-width: 785px;
    width: 90%;
    @media screen and (max-width: 768px){
        max-width: 600px;
    }
    h1 {
        font-size: 48px;
        margin-bottom: 25px!important;
        color: #242424;
        @media screen and (max-width: 768px){
            font-size: 44px;
        }
        @media screen and (max-width: 450px){
            font-size: 36px;
        }
    }
    P {
        color: #2C2C2C;
        font-size: 14px;
        @media screen and (max-width: 450px){
            text-align: left;
            font-size: 13px;
        }
    }
}